body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    text-align: center;
    padding: 20px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
}

button:hover {
    background-color: #0277bd;
}

pre {
    text-align: left;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

#forgotCIForm, #registerMemberForm, #editMemberForm {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}